html {
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  @apply bg-gray-700 text-white;
}

nav {
  border-bottom: 5px solid #000000;
}
.formysanity{
  list-style-type: none;
}
.card{
  border-radius: 1px;
  background-color: #4b4b4b;
  border: 5px solid #000000;
  border-radius: 15px;
  margin: 20px;
}
.title{
  display: flex;
  color: #dfdfdf;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid #000000;
}
.description{
  text-indent: 5px;
  display: flex;
  color: #dfdfdf;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.description-text{
  display: flex;
  color: #dfdfdf;
  justify-content: center;
  text-indent: 20px;
  margin-top: 10px;
  font-size: 18px;
}
.duedate{
  display: flex;
  justify-content: center;
  color: #dfdfdf;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #160077;
}
.completed{
  text-indent: 5px;
  display:flex;
  color: #dfdfdf;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
.completed-text{
  display: flex;
  text-align: left;
  margin-left: 10px;
  color: #dfdfdf;
  font-size: 20px;
  margin-bottom: 10px;
}